@using Smt.Web.ViewModels
@inject Serenity.ITextLocalizer Localizer
@model DisplayModelsViewModel

@{
ViewData["Title"] = Localizer.Get("Db.Default.DisplayModel.EntityPlural");
var count = 0;
}

<div class="container">
<div class="row">
<div class="col-lg-12 text-center">

<select class="form-select text-center text-light fs-5 fw-bold mb-5 text-uppercase bg-primary" aria-label="Default select example">
<option disabled selected>vendors</option>
@foreach (var item in Model.Vendors)
{
<option value="1">@item.Name</option>
}
</select>
</div>
	
<div class="col-lg-12">
<table class="table fs-6 fw-bolder">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Title</th>
<th scope="col">Code</th>
</tr>
</thead>
<tbody>
@foreach (var item in Model.Models)
{
count++;
<tr>
<td>@count</td>
<td>@item.Title</td>
<td>@item.Code</td>
<td>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="@item.Check" checked="@item.Check" id="flexCheckDefault">
<label class="form-check-label" for="flexCheckDefault">
Display
</label>
</div>
</td>
</tr>
}
</tbody>
</table>
</div>
</div>
</div>


